
 .navbar-logo {
    color: white;
  }
  .navbar-links a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1em;
  }
  
  .signin-button {
    background-color: #61dafb;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: 0.15s ease;
  }
  
  .navbar-links a {
    filter: blur(0);
    transition: 0.15s ease;
  }
  
  .navbar-links:hover a {
    filter: blur(0.5px); 
    color: rgba(204, 204, 204, 0.758); 
  }
  
  .navbar-links a:hover {
    filter: blur(0);
    color: #61dafb;
    box-shadow: 0 2px 0 0 currentcolor;
  }
  
  
  .navbar-links {
    display: none;
  }
  
  @media (min-width: 600px) {
    .navbar-links {
      display: flex;
      justify-content: flex-end;
    }
  }
  
